.product {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product__image {
    width: 320px;
    height: 234px;
    border-radius: 10px;
}

.product__infos {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product__title {
    font-size: 20px;
    font-weight: 400;
    max-width: 669px;
}

.product__tag-wrapper {
    width: 100%;
}

.product__tag {
    background-color: #A4CFFF;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    color: #6180A3;
    padding: 4px 13px;
    border-radius: 5px;
}

.product__tag--purple {
    background-color: #D9C6F9;
    color: #86779E;
}

.product__tag--green {
    background-color: #E4F9B2;
    color: #869464;
}

.product__tag--ran-out  {
    background-color: #EAEAEA;
    color: #979797;
}

.product__tag--pink {
    background-color: #FEDBFF;
    color: #A791A8;
}

.product__total-price {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;

}

.product__installment {
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-top: 2px;
}

@media screen and (min-width: 1024px) {
    .product {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .product__image {
        width: 300px;
        height: 220px;
        border-radius: 10px;
    }

}